body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 2rem;
    margin-top: 0;
}

ul {
    list-style-image: none;
}

li a {
    display: block;
    padding: 10px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
}

li a:hover {
    background-color: #ddd;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}